---
let theme = 'light';
if (typeof window !== 'undefined') {
  const savedTheme =
    localStorage.getItem('theme') ||
    (window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light');
  document.documentElement.setAttribute('data-theme', savedTheme);
  theme = savedTheme;
}
---

<script>
  function toggleTheme() {
    theme = theme === 'light' ? 'dark' : 'light';
    document.documentElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }
</script>

<style>
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
</style>

<button id='theme-toggle' onClick='toggleTheme()'> Toggle Theme</button>
